*{
    margin:0;
    box-sizing: border-box;
    padding: 10px 0;
}
body{
    background-color: rgba(215, 253, 241, 0.692);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
text-align: center;
}