*{
    margin:0;
    box-sizing: border-box;
    padding: 10px 0;
}

body{
    background-color: rgba(215, 253, 241, 0.692);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    padding-bottom: 30px;
}

h2{
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}

p {
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font-family: monospace;
}